<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ojp</display-name>
	<servlet>
		<servlet-name>JobseekerSignup</servlet-name>
		<servlet-class>registration.JobseekerSignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JobseekerSignup</servlet-name>
		<url-pattern>/jobseekerSignup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RecruiterSignup</servlet-name>
		<servlet-class>registration.RecruiterSignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecruiterSignup</servlet-name>
		<url-pattern>/recruiterSignup</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>login.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>createJob</servlet-name>
		<servlet-class>recruiter.CreateJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createJob</servlet-name>
		<url-pattern>/createJob</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateJob</servlet-name>
		<servlet-class>recruiter.UpdateJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateJob</servlet-name>
		<url-pattern>/updateJob</url-pattern>
	</servlet-mapping>	

	<servlet>
		<servlet-name>DeleteJob</servlet-name>
		<servlet-class>recruiter.DeleteJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteJob</servlet-name>
		<url-pattern>/deleteJob</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>Contact</servlet-name>
		<servlet-class>contact.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ApplyJob</servlet-name>
		<servlet-class>jobseeker.ApplyJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplyJob</servlet-name>
		<url-pattern>/applyJob</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>UpdateJobseekerProfileServlet</servlet-name>
    	<servlet-class>jobseeker.UpdateJobseekerProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>UpdateJobseekerProfileServlet</servlet-name>
    	<url-pattern>/updateJobseekerProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>SearchJobServlet</servlet-name>
    	<servlet-class>job.SearchJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>SearchJobServlet</servlet-name>
    	<url-pattern>/searchJob</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>UpdateApplicationStatus</servlet-name>
    	<servlet-class>recruiter.UpdateApplicationStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
    	<servlet-name>UpdateApplicationStatus</servlet-name>
    	<url-pattern>/UpdateApplicationStatusServlet</url-pattern>
	</servlet-mapping>
	
	
	
	



</web-app>